<!DOCTYPE html>
<html>
<head>
	<title>Add Employee Information</title>
	 
</head>
<center>
	<font color="black" size="3.5" style="font-family: avenir">

		<h1 style="color: rgb(0,0,0)">EMPLOYEE DATABASE</h1>
		

		  
		 
		 
  
		<style>
body 
{
  background-image: url('bg4.png');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}
</style> 
			

			<form action="/addemp" autocomplete="on" method = "POST" enctype="multipart/form-data">

				<button type="submit" formaction="/getemp" style="background: rgb(147,112,219); height: 45px; width: 200px; color:white; font:oblique; border-radius: 12px; border: none;" >GET EMPLOYEE INFORMATION</button><br><br>
				 

		  		<b> Employee ID:<b> <br> <input style="height:25px;font-size:14pt; color:grey; " type="number" name="emp_id" autofocus size="40"><br><br>

		  		First Name:<br> <input style="height:25px;font-size:14pt;color:grey;" type="text" name="first_name" ><br><br>

		  		Last Name:<br> <input style="height:25px;font-size:14pt;color:grey;" type="text" name="last_name"><br><br>

		  		Primary Skills:<br> <input style="height:25px;font-size:14pt;color:grey;" type="text" name="pri_skill"><br><br>

		  		Location:<br> <input style="height:25px;font-size:14pt;color:grey;" type="text" name="location"><br><br>

		  		Image: <input type=file name="emp_image_file" style="height:25px;font-size:14pt;color:grey; border-radius: 2px;"> <br><br>

		  		<button type="submit" style="background: rgb(255,105,180); height: 45px; width: 200px; color: black; size: 5; font:oblique; border-radius: 12px; border: none;">UPDATE DATABASE</button><br><br>

			</form>




<button class="GFG" style="background: rgb(127,255,0); height: 45px; width: 200px; color: black; size: 5; font:oblique; border-radius: 12px; border: none;" 
    onclick="window.location.href = 'http://add-emp-project5.s3-website-us-east-1.amazonaws.com';">
        About Us
    </button>
		</body>

	</font>
</center>
</html>
